@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

@import "./utils/variables";
@import "./utils/mixins";

*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    font-family: $font-text;
}

.loading{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    backdrop-filter: blur(4px);
    // background-color: $color-white;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fade-out .8s ease-out forwards;
    animation-delay: 3s;
    @keyframes fade-out{
        from{
            // background-color: $color-white;
            backdrop-filter: blur(4px);
            opacity: 1;
            visibility: visible;
        }
        to{
            background-color: transparent;
            backdrop-filter: none;
            opacity: 0;
            visibility: collapse;
        }
    }
    &__text{
        color: $color-dark;
        &::before{
            content: "Loading...";
            animation: load-text .9s ease-in 1.5s forwards;
        }
    }
    @keyframes load-text{
        from{
            content: "Loading..."
        }
        to{
            content: "Done !";
            color: $color-secondary;
        }
    }
    &__spin{
        border-radius: 50%;   
        width: 50px;
        height: 50px;
        margin-bottom: $size2;
        position: relative;
        & div{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            box-shadow: 0 0 8px rgb(153, 153, 153);
            background-color: $color-white;
            position: absolute;
            animation: load-spin .9s linear 2;
        }
        & div:nth-child(1){
            top: -5px;
            left: 20px;
            animation-delay: 0s;
        }
        & div:nth-child(2){  
            top: 2px;
            right: 2px;
            animation-delay: 0.1s;
        }
        & div:nth-child(3){
            top: 20px;
            right: -5px;
            animation-delay: 0.2s;
        }
        & div:nth-child(4){
            bottom: 2px;
            right: 1px;
            animation-delay: 0.3s;
        }
        & div:nth-child(5){
            bottom: -5px;
            left: 20px;
            animation-delay: 0.4s;
        }
        & div:nth-child(6){
            bottom: 2px;
            left: 1px;
            animation-delay: 0.5s;
        }
        & div:nth-child(7){
            top: 20px;
            left: -5px;
            animation-delay: 0.6s;
        }
        & div:nth-child(8){
            top: 2px;
            left: 1px;
            animation-delay: 0.7s;
        }       
    }
    @keyframes load-spin{
        0%, 20%, 80%, 100%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.25);
        }
    }
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__location{
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: center;
        color: $color-dark;
        background-color: $color-light;
        padding: $size2;
        font-weight: $font-medium;
        &__icon{
            margin-right: $size2;
        }
    }
    &__logo{
        padding: $size3 $size1 $size1 $size1;
        box-shadow: 0 5px 8px $color-shadow;
        position: relative;
        width: 100%;
        text-align: center;
        @include desktop-small{
            text-align: left;
            padding: 1rem 0 0.5rem 1rem;
        }
        & img{
            width: 55%;
            @include tablet-only{
                width: 35%;
            }
            @include desktop-small{
                width: 15%;
                max-width: 150px;
            }
        }
    }
}

.hero{
    background-color: $color-lighter;
    padding: $size4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include desktop-small{
        align-items: flex-start;
        padding: 4rem $size4;
    }
    &__title{
        @include margin-bot;
        font-size: $size3;
        font-weight: $font-bolder;
        @include desktop-small{
            font-size: $size4;
        }
    }
    &__subtitle{
        font-weight: $font-normal;
        font-size: 1.15rem;
        color: $color-dark;
        font-weight: $font-light;
        @include margin-bot;
        @include desktop-small{
            font-size: $size3;
        }
    }
    &__btn{
        margin: $size2 0;
    }
}

.fonct{
    &__list{
        display: flex;
        flex-direction: column;
        @include tablet-only{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include desktop-large{
            width: 80%;
        }
        &__item{
            position: relative;
            display: flex;
            align-items: baseline;
            margin: $size2 0;
            border-radius: nth($radius, 2);
            padding: $size3;
            background-color: $color-lighter;
            @include card-shadow;
            @include tablet-only{
                flex-basis: 48%;
            }
            @include desktop-med{
                flex-basis: 30%;
            }
            &--active{
                background-color: lighten($color-primary, 35%)
            }
            &__number{
                position: absolute;
                top: 20px;
                left: -15px;
                background-color: $color-primary;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                text-align: center;
                padding: 4px;
                color: $color-white;
            }
            &__icon{
                color: lighten($color-dark, 25%);
                @include desktop-small{
                    font-size: 20px;
                }
                &--active{
                    color: $color-primary;
                }
            }
            &__text{
                font-weight: $font-bold;
                margin-left: $size2;
                @include desktop-small{
                    font-size: 20px;
                }
            }
        }
    }
}

.btn{
    transition: all .5s ease;
    position: relative;
    border: none;
    color: $color-white;
    padding: $size2 $size3;
    border-radius: nth($radius , 3);
    background: linear-gradient($color-secondary, $color-primary);
    cursor: pointer;
    z-index: 10;
    @include card-shadow;
    @include desktop-med{
        font-size: 18px;
    }
    &::before{
        border-radius: inherit;
        background: linear-gradient(lighten($color-secondary,5%), lighten($color-primary, 5%));
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        z-index: -10;
        transition: all .5s ease;
    }
    &:hover{
        box-shadow: 5px 8px 20px #7a7a7a;
        &::before{
            opacity: 1;
        }
    }
}

.wrapper{
    padding: $size4 $size3;
    @include desktop-small{
        padding: $size4;
    }
}

h3{
    font-size: 1.5rem;
    margin-bottom: $size1;
    @include desktop-small{
        font-size: 2rem;
    }
    @include desktop-med{
        margin-bottom: $size3;
    }
}

.cards-wrap{
    display: flex;
    flex-direction: column;
    @include tablet-only{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__card{
        border-radius: nth($radius, 1);
        @include card-shadow;
        margin: $size2 0;
        position: relative;
        cursor: pointer;
        @include tablet-only{
            flex-basis: 48%;
        }
        @include desktop-large{
            flex-basis: 24%;
        }
        &__tag{
            position: absolute;
            right: 0;
            background-color: $color-accent;
            color: darken($color-accent, 40%);
            z-index: 1;
            font-size: 14px;
            font-weight: $font-medium;
            padding: $size1 $size2;
            margin: $size2;
            border-radius: 3px;
            @include tag-shadow;
        }
        &__image{
            @include img-ratio;
            @include img-radius;
        }
        &__bottom{
            padding: $size2;
            display: flex;
            justify-content: space-between;
            @include desktop-med{
                font-size: 20px;
            }
            &__icon{
                position: relative;
                transition: all .5s ease;
                align-self: baseline;
                cursor: pointer;
                &:hover{
                    color: transparent;
                }
                &--full{
                    position: absolute;
                    left: 0;
                    background: linear-gradient(45deg, $color-secondary, $color-primary);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    opacity: 0;
                    transition: all .5s ease;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.footer{
    padding: $size3;
    background-color: $color-dark;
    &__title{
        color: $color-white;
        font-family: $font-title;
        font-weight: $font-normal;
        font-size: 1.2rem;
        margin-bottom: $size3;
    }
    &__list{
        margin-bottom: $size1;
        @include desktop-small{
            display: flex;
            justify-content: space-between;
            width: 70%;
        }
        &__item{
            display: flex;
            align-items: center;
            color: $color-white;
            margin-bottom: $size1;
            transition: all .5s ease;
            &:hover{
                color: $color-secondary;
            }
            &__icon{
                margin-right: $size2;
                font-size: 14px;
                &--hand{
                    margin-right: calc(1rem - 5px);
                }
            }
            &__link{
                color: $color-white;
                transition: all .5s ease;
                &:hover{
                    color: $color-secondary;
                }
            }     
        }
    }
}