@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

.sub_body--load {
  -webkit-animation: page-fade 0.5s ease-in-out forwards;
          animation: page-fade 0.5s ease-in-out forwards;
}
@-webkit-keyframes page-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes page-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 1024px) {
  h3 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  h3 {
    margin-bottom: 1.5rem;
  }
}

.loading {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-animation: fade-out 0.8s ease-out forwards;
          animation: fade-out 0.8s ease-out forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
@supports (-moz-appearance: none) {
  .loading {
    background-color: rgba(255, 255, 255, 0.801);
  }
}
@-webkit-keyframes fade-out {
  from {
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    opacity: 1;
    visibility: visible;
  }
  to {
    background-color: transparent;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    opacity: 0;
    visibility: collapse;
  }
}
@keyframes fade-out {
  from {
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    opacity: 1;
    visibility: visible;
  }
  to {
    background-color: transparent;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    opacity: 0;
    visibility: collapse;
  }
}
.loading__text {
  color: #353535;
}
.loading__text::before {
  content: "Loading...";
  -webkit-animation: load-text 0.9s ease-in 1.5s forwards;
          animation: load-text 0.9s ease-in 1.5s forwards;
}
@-webkit-keyframes load-text {
  from {
    content: "Loading...";
  }
  to {
    content: "Done !";
    color: #FF79DA;
  }
}
@keyframes load-text {
  from {
    content: "Loading...";
  }
  to {
    content: "Done !";
    color: #FF79DA;
  }
}
.loading__spin {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
  position: relative;
}
.loading__spin div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgb(153, 153, 153);
  background-color: white;
  position: absolute;
  -webkit-animation: load-spin 0.9s linear 2;
          animation: load-spin 0.9s linear 2;
}
.loading__spin div:nth-child(1) {
  top: -5px;
  left: 20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.loading__spin div:nth-child(2) {
  top: 2px;
  right: 2px;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.loading__spin div:nth-child(3) {
  top: 20px;
  right: -5px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loading__spin div:nth-child(4) {
  bottom: 2px;
  right: 1px;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.loading__spin div:nth-child(5) {
  bottom: -5px;
  left: 20px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.loading__spin div:nth-child(6) {
  bottom: 2px;
  left: 1px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.loading__spin div:nth-child(7) {
  top: 20px;
  left: -5px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.loading__spin div:nth-child(8) {
  top: 2px;
  left: 1px;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
@-webkit-keyframes load-spin {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
}
@keyframes load-spin {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header__back {
  color: #353535;
  font-size: 18px;
  cursor: pointer;
  margin-left: 1rem;
}
.header__location {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: #353535;
  background-color: #EAEAEA;
  padding: 1rem;
  font-weight: 500;
  box-shadow: inset 0px 6px 8px rgba(53, 53, 53, 0.2);
}
.header__location__icon {
  margin-right: 1rem;
}
.header__logo {
  padding: 1rem 0 0.5rem 0;
  position: relative;
  width: 40%;
  margin: auto;
}
@media screen and (min-width: 600px) {
  .header__logo {
    width: 25%;
  }
}
@media screen and (min-width: 1024px) {
  .header__logo {
    width: 15%;
  }
}
@media screen and (min-width: 1600px) {
  .header__logo {
    width: 10%;
  }
}
.header__logo a {
  display: block;
  width: 100%;
}
.header__logo a img {
  width: 100%;
}

.footer {
  padding: 1.5rem;
  background-color: #353535;
}
.footer__title {
  color: white;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.footer__list {
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .footer__list {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
}
.footer__list__item {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 0.5rem;
  transition: all 0.5s ease;
}
.footer__list__item:hover {
  color: #FF79DA;
}
.footer__list__item__icon {
  margin-right: 1rem;
  font-size: 14px;
}
.footer__list__item__icon--hand {
  margin-right: calc(1rem - 5px);
}
.footer__list__item__link {
  color: white;
  transition: all 0.5s ease;
}
.footer__list__item__link:hover {
  color: #FF79DA;
}

.wrapper {
  padding: 2.5rem 1.5rem;
}
@media screen and (min-width: 1024px) {
  .wrapper {
    padding: 2.5rem;
  }
}

.container--menu {
  background-color: #F6F6F6;
}

.hero {
  background-color: #F6F6F6;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .hero {
    align-items: flex-start;
    padding: 4rem 2.5rem;
  }
}
.hero__title {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 900;
}
@media screen and (min-width: 1024px) {
  .hero__title {
    font-size: 2.5rem;
  }
}
.hero__subtitle {
  font-weight: 400;
  font-size: 1.15rem;
  color: #353535;
  font-weight: 300;
  margin: 0 0 1rem 0;
}
@media screen and (min-width: 1024px) {
  .hero__subtitle {
    font-size: 1.5rem;
  }
}
.hero__btn {
  margin: 1rem 0;
}

.fonct__list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .fonct__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1600px) {
  .fonct__list {
    width: 80%;
  }
}
.fonct__list__item {
  position: relative;
  display: flex;
  align-items: baseline;
  margin: 1rem 0;
  border-radius: 20px;
  padding: 1.5rem;
  background-color: #F6F6F6;
  box-shadow: 5px 8px 20px rgba(53, 53, 53, 0.2);
}
@media screen and (min-width: 600px) {
  .fonct__list__item {
    flex-basis: 48%;
  }
}
@media screen and (min-width: 1280px) {
  .fonct__list__item {
    flex-basis: 30%;
  }
}
.fonct__list__item--active {
  background-color: #f2eafb;
}
.fonct__list__item__number {
  position: absolute;
  top: 20px;
  left: -15px;
  background-color: #9356DC;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 4px;
  color: white;
}
.fonct__list__item__icon {
  color: #757575;
}
@media screen and (min-width: 1024px) {
  .fonct__list__item__icon {
    font-size: 20px;
  }
}
.fonct__list__item__icon--active {
  color: #9356DC;
}
.fonct__list__item__text {
  font-weight: 700;
  margin-left: 1rem;
}
@media screen and (min-width: 1024px) {
  .fonct__list__item__text {
    font-size: 20px;
  }
}

.cards-wrap {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .cards-wrap {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.cards-wrap__card {
  border-radius: 15px;
  box-shadow: 5px 8px 20px rgba(53, 53, 53, 0.2);
  margin: 1rem 0;
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .cards-wrap__card {
    flex-basis: 48%;
  }
}
@media screen and (min-width: 1600px) {
  .cards-wrap__card {
    flex-basis: 24%;
  }
}
.cards-wrap__card__tag {
  position: absolute;
  right: 0;
  background-color: #99E2D0;
  color: #278870;
  z-index: 1;
  font-size: 14px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 2px 2px 8px #353535;
}
.cards-wrap__card__image {
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.cards-wrap__card__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.cards-wrap__card__bottom {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  .cards-wrap__card__bottom {
    font-size: 20px;
  }
}
.cards-wrap__card__bottom__icon {
  position: relative;
  transition: all 0.5s ease;
  align-self: baseline;
  cursor: pointer;
}
.cards-wrap__card__bottom__icon:hover {
  color: transparent;
}
.cards-wrap__card__bottom__icon--full {
  position: absolute;
  left: 0;
  background: linear-gradient(45deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: all 0.5s ease;
}
.cards-wrap__card__bottom__icon--full:hover {
  opacity: 1;
}

.menu-hero {
  position: relative;
}
.menu-hero__image {
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.menu-hero__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1024px) {
  .menu-hero__image {
    padding-top: 33%;
  }
}
@media screen and (min-width: 1600px) {
  .menu-hero__image {
    padding-top: 25%;
  }
}
.menu-hero__title {
  width: 100%;
  padding: 1.5rem 1rem 0.5rem 1rem;
  background-color: #F6F6F6;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .menu-hero__title {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .menu-hero__title {
    width: 50%;
  }
}
@media screen and (min-width: 1600px) {
  .menu-hero__title {
    width: 33%;
  }
}
.menu-hero__title h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .menu-hero__title h2 {
    margin-right: 2.5rem;
  }
}
@media screen and (min-width: 1600px) {
  .menu-hero__title h2 {
    font-size: 2rem;
  }
}
.menu-hero__title__icon {
  font-size: 20px;
  position: relative;
  transition: all 0.5s ease;
  align-self: baseline;
  cursor: pointer;
}
.menu-hero__title__icon:hover {
  color: transparent;
}
.menu-hero__title__icon--full {
  position: absolute;
  left: 0;
  background: linear-gradient(45deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: all 0.5s ease;
}
.menu-hero__title__icon--full:hover {
  opacity: 1;
}
@media screen and (min-width: 1600px) {
  .menu-hero__title__icon {
    font-size: 24px;
  }
}

.wrapper-menus {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2.5rem 0;
  align-items: center;
}

.menus {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  width: 99%;
}
.menus__title {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
.menus__title::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  margin-top: 0.25rem;
}
.menus__list {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  .menus__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.menus__list__item {
  position: relative;
  display: flex;
  align-items: baseline;
  box-shadow: 5px 8px 20px rgba(53, 53, 53, 0.2);
  border-radius: 15px;
  background-color: white;
  margin: 0.5rem 0;
  align-items: inherit;
  cursor: pointer;
  opacity: 0;
  -webkit-animation: fade-in 0.8s ease-in-out 0.2s forwards;
          animation: fade-in 0.8s ease-in-out 0.2s forwards;
}
@media screen and (min-width: 768px) {
  .menus__list__item {
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .menus__list__item {
    flex-basis: 49%;
  }
}
@media screen and (min-width: 1600px) {
  .menus__list__item {
    flex-basis: 32%;
  }
}
.menus__list__item:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.menus__list__item:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.menus__list__item__plat {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0.5rem;
  transition: all 0.5s ease-out;
}
.menus__list__item__plat__name {
  font-weight: 700;
  margin-bottom: 0.1rem;
  transition: all 0.5s ease-out;
}
.menus__list__item__plat__sub {
  font-size: 0.9rem;
  transition: all 0.5s ease-out;
}
.menus__list__item__price {
  font-size: 0.9rem;
  color: #353535;
  font-weight: 700;
  align-self: flex-end;
  padding: 0.8rem;
  flex-basis: 20%;
  text-align: right;
}
.menus__list__item__check {
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 0%;
  flex-basis: 0%;
  transition: all 0.5s ease;
}
.menus__list__item__check i {
  color: #F6F6F6;
  font-size: 20px;
  transform: rotate(45deg);
  transition: all 0.6s ease;
}
.menus__list__item:hover .menus__list__item__plat {
  overflow: hidden;
  transition: all 0.5s ease-out;
}
.menus__list__item:hover .menus__list__item__plat__name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.5s ease-out;
}
@media screen and (min-width: 768px) {
  .menus__list__item:hover .menus__list__item__plat__name {
    white-space: normal;
  }
}
.menus__list__item:hover .menus__list__item__plat__sub {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.5s ease-out;
}
@media screen and (min-width: 768px) {
  .menus__list__item:hover .menus__list__item__plat__sub {
    white-space: normal;
  }
}
.menus__list__item:hover .menus__list__item__check {
  flex-basis: 15%;
  opacity: 1;
}
@media screen and (min-width: 600px) {
  .menus__list__item:hover .menus__list__item__check {
    flex-basis: 10%;
  }
}
.menus__list__item:hover .menus__list__item__check i {
  transform: rotate(360deg);
}
.menus__btn {
  width: 190px;
  align-self: center;
  margin: 2.5rem 0;
}

.btn {
  transition: all 0.5s ease;
  position: relative;
  border: none;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  z-index: 10;
  box-shadow: 5px 8px 20px rgba(53, 53, 53, 0.2);
}
@media screen and (min-width: 1280px) {
  .btn {
    font-size: 18px;
  }
}
.btn::before {
  border-radius: inherit;
  background: linear-gradient(#ff93e1, #a16be0);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -10;
  transition: all 0.5s ease;
}
.btn:hover {
  box-shadow: 5px 8px 20px #7a7a7a;
}
.btn:hover::before {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */