.header{
    display: flex;
    align-items: center;
    // justify-content: space-around;
    flex-wrap: wrap;
    &__back{
        color: $color-dark;
        font-size: 18px;
        cursor: pointer;
        margin-left: $size2;
    }
    &__location{
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: center;
        color: $color-dark;
        background-color: $color-light;
        padding: $size2;
        font-weight: $font-medium;
        box-shadow: inset 0px 6px 8px $color-shadow;
        &__icon{
            margin-right: $size2;
        }
    }
    &__logo{
        padding: $size2 $size1 $size1 0;
        position: relative;
        // width: 100%;
        text-align: center;
        margin: auto;
        @include desktop-small{
            text-align: left;
            padding: 1rem 0 0.5rem 1rem;
        }
        & img{
            width: 70%;
            @include tablet-only{
                width: 75%;
            }
            @include desktop-small{
                width: 100%;
                max-width: 150px;
            }
        }
    }
}