*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    font-family: $font-text;
}

.sub_body{
    &--load{
        animation: page-fade .5s ease-in-out forwards;
    }
    @keyframes page-fade{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
}

@keyframes fade-in{
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}