.menu-hero{
    position: relative;
    &__image{
        @include img-ratio;
        @include desktop-small{
            padding-top: 33%;
        }
        @include desktop-large{
            padding-top: 20%;
            & img{
                top: 30%
            }
        }
    }
    &__title{
        width: 100%;
        padding: $size3 $size2 $size1 $size2;
        background-color: $color-lighter;
        position: absolute;
        bottom: 0;
        border-top-left-radius: nth($radius, 4);
        border-top-right-radius: nth($radius, 4);
        display: flex;
        align-items: baseline;
        justify-content: space-between;
       
        @include tablet-med{
            justify-content: flex-start;
        }
        @include desktop-small{
            width: 50%;
        }
        @include desktop-med{
            width: 34%;
        }
        & h2{
            font-family: $font-title;
            font-weight: $font-normal;
            @include tablet-med{
                margin-right: $size4;
            }
            @include desktop-large{
                font-size: 2rem;
            }
        }
        &__icon{
            font-size: 20px;
            @include heart-icon;
            @include desktop-large{
                font-size: 24px;
            }
        }
    }
}

.wrapper-menus{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: $size4 0;
    align-items: center;
    @include tablet-med{
        flex-direction: row;
        align-items: flex-start;
    }
}

.menus{
    padding: $size1 $size2;
    display: flex;
    flex-direction: column;
    width: 100%;
    @include tablet-small{
        width: 80%;
    }
    @include tablet-med{
        flex-basis: 50%;
    }
    @include desktop-med{
        flex-basis: calc(100%/3);
    }
    &__title{
        text-transform: uppercase;
        font-weight: $font-normal;
        position: relative;
        &::after{
            content: "";
            display: block;
            width: 40px;
            height: 3px;
            background-color: $color-accent;
            position: absolute;
            margin-top: .25rem;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        margin: $size2 0;
        
        &__item{
            @include list-item;
            // max-width: 370px;
            overflow: hidden;
            width: 100%;
            border-radius: nth($radius, 1);
            background-color: $color-white;
            margin: $size1 0;
            align-items: inherit;
            cursor: pointer;
            opacity: 0;
            animation: fade-in .8s ease-in-out .2s forwards;
            @include tablet-med{
                width: 100%;
            }
            
            &:nth-child(2){
                animation-delay: .4s;
            }
            &:nth-child(3){
                animation-delay: .6s;
            }
            &__plat{
                // width: 100%;
                //flex-basis: 80%;
                flex-grow: 1;
                width: 80%;
                display: flex;
                flex-direction: column;
                padding: .8rem $size1;
                transition: all .5s ease-out;
                overflow: hidden;
                &__name{
                    font-weight: $font-bold;
                    margin-bottom: .1rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                &__sub{
                    font-size: .9rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            &__price{
                font-size: .9rem;
                color: $color-dark;
                font-weight: $font-bold;
                align-self: flex-end;
                padding: .8rem;
                //flex-basis: 20%;
                width: 20%;
                text-align: right;
            }
            &__check{
                background-color: $color-accent;
                // width: 35%;
                border-top-right-radius: nth($radius, 1);
                border-bottom-right-radius: nth($radius, 1);
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                width: 0%;
                //flex-basis: 0%;
                transition: all .5s ease;
                & i{
                    color: $color-lighter;
                    font-size: 20px;
                    transform: rotate(45deg);
                    transition: all .6s ease;
                }
            }
            &:hover &{
                
                &__check{
                    width: 25%;
                    //flex-basis: 25%;
                    opacity: 1;
                    & i{
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
    &__btn{
        width: 190px;
        align-self: center;
        margin-bottom: 4.5rem;
    }
}