.menu-hero{
    position: relative;
    &__image{
        @include img-ratio;
    }
    &__title{
        width: 100%;
        padding: $size3 $size2 $size1 $size2;
        background-color: $color-lighter;
        position: absolute;
        bottom: 0;
        border-top-left-radius: nth($radius, 4);
        border-top-right-radius: nth($radius, 4);
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        & h2{
            font-family: $font-title;
            font-weight: $font-normal;
        }
        &__icon{
            font-size: 20px;
            @include heart-icon;
        }
    }
}

.container--menu{
    background-color: $color-lighter;
}

.menus{
    padding: $size3 $size2;
    &__title{
        text-transform: uppercase;
        font-weight: $font-normal;
        position: relative;
        &::after{
            content: "";
            display: block;
            width: 15%;
            height: 3px;
            background-color: $color-accent;
            position: absolute;
            margin-top: .25rem;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        margin: $size2 0;
        &__item{
            @include list-item;
            border-radius: nth($radius, 1);
            background-color: $color-white;
            margin: $size1 0;
            align-items: inherit;
            cursor: pointer;
            &__plat{
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: .8rem;
                &__name{
                    font-weight: $font-bold;
                    margin-bottom: .1rem;
                }
                &__sub{
                    font-size: .9rem;
                }
            }
            &__price{
                font-size: .9rem;
                color: $color-dark;
                font-weight: $font-bold;
                align-self: flex-end;
                padding: .8rem;
            }
            &__check{
                background-color: $color-accent;
                // width: 35%;
                border-top-right-radius: nth($radius, 1);
                border-bottom-right-radius: nth($radius, 1);
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                width: 0%;
                transition: all .5s ease;
                & i{
                    color: $color-lighter;
                    font-size: 20px;
                    transform: rotate(45deg);
                    transition: all .6s ease;
                }
            }
            &:hover &{
                &__plat{
                    overflow: hidden;
                    &__name{
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden; 
                    }
                    &__sub{
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden; 
                    }
                }
                &__check{
                    width: 25%;
                    opacity: 1;
                    & i{
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}

@keyframes check-slide{
    from{
        opacity: 0;
        width: 0%;
    }
    to{
        opacity: 1;
        width: 35%;
    }
}