@mixin mobile {
    @media screen and (min-width: map-get($breakpoints, mobile-min)) and (max-width: map-get($breakpoints, mobile-max)){
        @content;
    }
}
@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, tablet-min)){
        @content;
    }
}
@mixin tablet-med {
    @media screen and (min-width: map-get($breakpoints, tablet-med)){
        @content;
    }
}
@mixin desktop-small{
    @media screen and (min-width: map-get($breakpoints, desktop-small)){
        @content;
    }
}
@mixin desktop-med{
    @media screen and (min-width: map-get($breakpoints, desktop-med)){
        @content;
    }
}
@mixin desktop-large{
    @media screen and (min-width: map-get($breakpoints, desktop-large)){
        @content;
    }
}

@mixin img-ratio {
    width: 100%;
        display: block;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
}
@mixin img-radius{
    border-top-left-radius: nth($radius, 1);
    border-top-right-radius: nth($radius, 1);
}

@mixin margin-bot{
    margin: 0 0 $size2 0;
}
@mixin card-shadow{
    box-shadow: 5px 8px 20px $color-shadow;
}
@mixin tag-shadow{
    box-shadow: 2px 2px 8px $color-dark;
}
@mixin heart-icon{
    position: relative;
    transition: all .5s ease;
    align-self: baseline;
    cursor: pointer;
    &:hover{
        color: transparent;
    }
    &--full{
        position: absolute;
        left: 0;
        background: linear-gradient(45deg, $color-secondary, $color-primary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transition: all .5s ease;
        &:hover{
            opacity: 1;
        }
    }
}
@mixin list-item{
    position: relative;
    display: flex;
    align-items: baseline;
    @include card-shadow;
}